$primary_bg: #2e2d4d;
$secondary_bg: darken($primary_bg, 5%);
$fontColor: #ffffff;
$primaryColor: #84dcc6;
$secondaryColor: #d16666;
$brandColor: lighten($primaryColor, 5%);
$borderColor: rgba($primaryColor, 0.5);
